/*fuente Roboto Menu*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

body {

    font-family: "Roboto", system-ui;

}

.container1 {
    position: relative;
    height: 100vh;
}

.video-container {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -3;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-container video {
    position: relative;
    top: 50%;
    left: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
}



/* ---fin video fondo */


/* audio */
.audio {
    height: 30px;
    width: 30px;
}

/* audio */

/*barra navegación*/

.container {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
}

.hero {
    /* background-image:
        linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
        url(/assets/img/bg.jpg);
    background-size: cover; */
    /* min-height: 500px; */
    height: 100%;
    color: black;
}

.nav {
    --state-close: scale(0);
    --state-open: scale(1);
    --state-menu: translate(-100%);


    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    align-items: center;
}

.nav:target {
    --state-menu: translate(0);
    --state-close: scale(1);
    --state-open: scale(0);

}



.nav__logo img {
    width: 100px;
    height: 70px;
}

.nav__open,
.nav__close {
    cursor: pointer;
    grid-column: -2/-1;
    grid-row: 1/2;
    transition: .4s;
}

.nav__open {
    transform: var(--state-open);
    z-index: 31;
}

.nav__close {
    transform: var(--state-close);
    z-index: 31;
}

.nav__icon {
    width: 40px;
}

.nav__links {
    background-image: url(../img/menulogo.png);
    position: fixed;
    background-size: 100% 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    display: grid;
    align-content: center;
    gap: 2em;
    padding-left: 5%;
    z-index: 30;
    transform: var(--state-menu);
    transition: .3s transform;
}

.nav__item {
    list-style: none;
}

.nav__link {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 2px;
}

@media (min-width:768px) {

    .nav {

        --state-open: scale(0);
        --state-menu: translate(0);


    }

    .nav:target {
        --state-menu: translate(0);
        --state-close: scale(0);
        --state-open: scale(0);

    }

    .nav__links {
        padding: 0;
        background-image: none;
        position: unset;
        gap: 1.5em;
        grid-auto-flow: column;
        transform: unset;
        transition: .3s transform;
        grid-column: -2/-1;
        grid-row: 1/2;
    }

    .nav__link {
        font-size: 1rem;
        letter-spacing: none;
    }

}


/* Íconos dentro del menú desplegable */
.attach-item {
    display: flex;
    align-items: center;
    padding: 8px 0;
    cursor: pointer;
}

.attach-item img {
    width: 20px;
    margin-right: 10px;
}

.attach-item span {
    font-size: 14px;
    color: #333;
}

/* Mostrar el menú cuando esté activo */
.active+.attach-menu {
    display: block;
    background: beige;
}




/* Botón de adjuntar */
#attachButton {
    width: 20px;
    height: 20px;
    background-image: url('../img/adjuntar.png');
    /* Ícono de clip */
    background-size: cover;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
}

/* Contenedor del menú desplegable */
.attach-menu {
    display: none;
    position: absolute;
    bottom: 60px;
    right: 0;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 10;
}

/*chat*/
.body1 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    min-height: 80Vh;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;


}

a {
    text-decoration: none;
    cursor: pointer;
}

button,
input {
    background: none;
    border: none;
    outline: none;
}

.main_container {
    max-width: 1000px;
    width: 100%;
    min-height: 80vh;
    height: 80%;
    background: blue;
    border-radius: 25px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border: 5px solid rgb(76, 76, 223);
    box-shadow: 0px 0px 25px;

}

.navbar {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 20px 4%;

}

.nav_left,
.nav_right {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 30px;
}

.main_logo {
    width: 120px;
}

.search_bar {
    width: 300px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    background: rgb(226, 217, 217);
    padding: 8px 8px 8px 13px;
    border-radius: 8px;
}

.search_bar img {
    width: 30px;
    height: 30px;
}

.search_bar input {

    width: 100%;
    font-size: 20px;
    font-weight: 400;
    padding-left: 20px;
    padding-top: 5px;
    color: black;
}

.setting {
    width: 30px;
}

.user {
    position: relative;
}

.user img {
    width: 60px;
    border-radius: 50%;
    border: 3px solid orange;
}

.user::after {
    content: '';
    width: 13px;
    height: 13px;
    background: greenyellow;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
}

.bottom_sec {
    width: 100%;
    height: 76.5vh;
    display: flex;
    justify-content: center;
    padding: 0 4% 20px 4%;
    gap: 20px;
    overflow: hidden;
}

.side_menu {
    width: 250px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.side_menu::-webkit-scrollbar {
    display: none;
}

.side_menu ul {
    list-style-type: none;
    background: rgb(13, 182, 238);
    padding: 40px 20px 20px 20px;
    border-radius: 20PX;

}

.side_menu ul li {
    margin: 15px 0;
    display: flex;
    align-items: center;
    gap: 15PX;
}

.side_menu ul li:first-child {
    margin-top: 0;

}

.side_menu ul li img {
    width: 25px;

}

.side_menu ul li a {

    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 18px;
    transition: 0.4s;
}

.side_menu ul li a:hover,
.side_menu ul li .active {
    color: beige;
}

.chat_sec {
    width: 100%;
    height: fit-content;
    margin-top: 20px;
}

.chat {
    width: 100%;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    margin: 5px 0;
    background: rgb(183, 184, 194);
    padding: 5px 10px;
    border-radius: 15px;
    transition: 0.4s;
}

.chat img {
    flex-basis: auto;
    width: 35px;
    border-radius: 50%;
    border: 3px solid beige;
}


.chat p {
    display: inline;
    font-size: 17px;
    color: aqua;
    transition: 0.4s;

}


.chat:hover {
    background-color: rgb(21, 119, 119);
}

.chat:hover p {

    color: black;

}

.time {
    display: flex;
    flex-grow: 5;
    align-items: center;
    justify-content: end;
}

.negrita {
    font-weight: normal;
    color: antiquewhite;
}

.color {
    color: antiquewhite;
}


.chat_section {
    flex-grow: 1;
    height: 100%;
    background: rgb(59, 144, 165);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.chat_header {
    width: 100%;
    height: fit-content;
    padding: 10px 4% 5px 4%;
    border-bottom: 2px solid coral;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.user_header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user_header .user_main img {
    width: 50px;
    border-radius: 50%;
    border: 3px solid coral;
}

.user_main {
    position: relative;
}

.user_main::after {
    content: '';
    width: 13px;
    height: 13px;
    background-color: greenyellow;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    z-index: 2;
}

.user_header h2 {
    margin-top: -8px;
    color: rgb(107, 219, 201);
}

.theedot {
    width: 30px;
}

.chat_type {
    width: 100%;
    height: 65px;
    border-top: 2px solid coral;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    padding: 12px 4%;
    background: black;
}

.chat_type img {
    width: 25px;
}

.message_type {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    border: 2px solid gray;
    padding: 10px 15px;
    border-radius: 15px;
}

.message_type input {
    flex-grow: 1;
    font-size: 16px;
    color: rgb(156, 156, 197);
}

.message_type input::placeholder {
    color: aliceblue;

}

.all_chat {
    width: 100%;
    height: 72%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 20px 4% 65px 4%;
}

.all_chat::-webkit-scrollbar {
    display: none;
}

.chat_box {
    width: 60%;
    height: fit-content;
    background: beige;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px;
    border-radius: 15px;
    gap: 15px;
    margin-bottom: 15px;
}

.chat_box .perfil {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid coral;
}

.visto {
    width: 10px;
    height: 10px;
    display: inline;
}

.chat_text h6 {
    display: inline;
    color: coral;
    font-size: 12px;
    margin-bottom: 5px;
}

.chat_text p {
    color: gray;
}

.my_message {
    margin-left: 40%;
    background: rgb(248, 185, 162);
}

.btn {
    display: none;
}

.btn img {
    width: 27px;
}

.side_menu .search_bar {
    display: none;

}

@media (max-width:800px) {
    .btn {
        display: block;
    }

    .body1 {
        padding: 0 3%;
    }

    .main_container {
        min-height: 85vh;

    }

    .side_menu {
        width: 300px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 29;
        background-color: beige;
        padding: 20px;
        display: none;

    }

    .side_menu.active {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
    }

    .side_menu ul {
        width: 100%;
        padding: 20px 20px 10px 20px;
    }

    .side_menu ul li {
        margin: 12px 0;
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .side_menu ul li img {
        width: 20px;
    }

    .side_menu ul li a {
        font-size: 15px;
    }

    .chat_sec {
        margin-top: 10px;
    }

    .chat {
        gap: 12px;
        margin: 8px 0px;
        padding: 8px 17px;
    }

    .chat p {
        font-size: 12px;
    }

    .nav_right .search_bar {
        display: none;
    }

    .side_menu .search_bar {
        display: flex;
        width: 100%;
        padding: 8px 8px 8px 10px;
        margin-bottom: 20px;
    }

    .search_bar img {
        width: 20px;
        height: 20px;
    }

    .search_bar input {
        font-size: 15px;
        padding-left: 5px;
    }

    .navbar {
        padding: 15px 4%;
    }

    .nav_left,
    .nav_right {
        gap: 20px;

    }

    .main_logo {
        width: 100px;
    }

    .setting {
        width: 25px;
    }

    .user img {
        width: 30px;
        border: 2px solid coral;
    }

    .bottom_sec {
        height: 74vh;
        padding: 0 4% 15px 4%;

    }

    .chat_header {
        padding: 10px 4% 0 4%;
    }

    .user_header {
        gap: 12px;

    }

    .user_header .user_main img {
        widows: 35px;
        border: 2px solid coral;
    }

    .user_main::after {
        width: 10px;
        height: 10px;
    }

    .user_header h2 {
        font-size: 18px;
    }

    .theedot {
        width: 28px;
    }

    .chat_type {
        height: 65px;
        gap: 10px;
        padding: 12px 4%;
        background: black;
    }

    .chat_type img {
        width: 25px;
    }

    .chat_type .send_icon {
        width: 20px;
    }

    .message_type {
        width: 80%;
        gap: 5px;
        padding: 8px 10px;
    }

    .message_type input {
        width: 80%;
        font-size: 15px;
    }

    .message_type img {
        width: 15px;
    }

    .all_chat {
        width: 95%;
        padding: 15px 4% 0 4%;
    }

    .chat_box {
        width: 75%;
        padding: 12px 15px;
        gap: 12px;
        margin-bottom: 10px;
    }

    .chat_box .perfil {
        width: 20px;
        height: 20px;

    }

    .chat_text h6 {
        font-size: 10px;
    }

    .chat_text p {
        font-size: 12px;
    }

    .my_message {
        margin-left: 30%;
    }

}
@media